@font-face {font-family: 'ProzaLibre-Light';
    src: url('/Anexos/ProzaLibre-Light.ttf'); /*Para os demais navegadores*/
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Variáveis CSS */
    --color-title:  #3b2f17;
    --color-yell: #FD971F;
    --color-blue: #66D9EF;
    --color-green: #A6E22E;
    --color-pink: #F92672;
    --color-none: #ffffff00;
}

.yell{
    color: var(--color-yell);
}

.rose{
    color: var(--color-pink);
}

.green{
    color: var(--color-green);
    display: block;
    }

/*Cabeçalho*/

.lang1, .lang0 {
    font-size: 12px;
    color:white;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #181815;
    font-family: ProzaLibre-Light;
}

.bodyPage{
    background-color: #181815;
    color: white;
    font-family: ProzaLibre-Light;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 50px;
}

nav{
    background-color: #181815;
    height: 80px;
    width: 100%;
}


nav ul{
    float: right;
    margin-right: 20px;
}

label.logo{
    color: var(--color-yell);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: #11110f;
    transition: .5s;
}

a:active, a:hover .p1-2{
    background: #181815;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li {
        font-size: 16px;
    } 
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #272723;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    navul li a{
        font-size: 20px;
    }
    a:active, a:hover{
        background: none;
        color: #11110f;
    }
    
    #check:checked ~ul {
        left: 0;
    }
    .bodyPage .upSkills{
        line-height: 68px;
    }
    .bodyPage .upSkills .green{
        margin-bottom: 158px;
    }
}

/*Conteudo*/

.nav_atual{
    color: var(--color-blue);
}

.nav_other { 
    color:white; 
    text-decoration: none;
}

.titleMid{
    margin-top: 200px;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 0px;
}

h1 {
    font-size: 62px;
    margin-bottom: 40px;
}

.mark {
    background-color: rgba(194, 194, 194, 0.142);
}

.p1{
    margin-top: 5px;
    font-size: 20px;
}

.p1-2{
    margin-top: 25px;
    font-size: 20px;
}

.p2{
    line-height: 1.3em;
    margin-top: 60px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 15px
}

p{
    white-space: normal; 
    width: 35em; 
    overflow: hidden;
    text-overflow: clip; 
    border: 1px solid #d6004700;
}

.upSkills{
    line-height: 2em;
    margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.images{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    float: right;
    border: transparent thin solid;
    padding: 50px;
    margin: -150px 50px 10px 0;
}



/*aaaa*/
.txtQuarent{
    margin: 5px 0px 0 50px;
    text-align: left;
    color: #fff;
}

.txtGit{
    margin: 5px 0px 0 75px;
    text-align: left;
    color: #fff;
}

.games{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* margin: 80px 100px 10px 0; */
}

.games2{
    width: 200px;
    height: 200px;
    margin: 0px 0px 0px 0px;
}

.gameType{
    width: 960px;
    margin: auto;
}

.conteudo{
    margin-top: 100px;
    display: table;
}
 
.imgCont{
    display: table-cell;
    float: left;
}

.textoCont{
    margin-left: 50px;
    margin-top: 25px;
    display: table;
    float: left;
    width: 300px;
    color: #fff;
}

.link{
    color: var(--color-green); 
    text-decoration: none;
    margin-top: 100px;
    margin-left: 0px;
}
.link1{
    color: var(--color-pink); 
    text-decoration: none;
    margin-top: 100px;
    margin-left: 0px;
}
.link2{
    color: var(--color-blue); 
    text-decoration: none;
    margin-top: 100px;
    margin-left: 0px;
}