@font-face {font-family: 'ProzaLibre-Light';
    src: url('/Anexos/ProzaLibre-Light.ttf'); /*Para os demais navegadores*/
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Variáveis CSS */
    --color-title:  #3b2f17;
    --color-yell: #FD971F;
    --color-blue: #66D9EF;
    --color-green: #A6E22E;
    --color-pink: #F92672;
    --color-none: #ffffff00;
}

body, html{
    overflow-x: hidden;
}

.yell{
    color: var(--color-yell);
}

.rose{
    color: var(--color-pink);
}

.green{
    color: var(--color-green);
    display: block;
    }

.blue{
    color: var(--color-blue);

}

.lang1, .lang0 {
    font-size: 12px;
    color:white;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #181815;
    font-family: ProzaLibre-Light;
}

.bodyPage{
    background-color: #181815;
    color: white;
    font-family: ProzaLibre-Light;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 50px;
}

nav{
    background-color: #181815;
    height: 80px;
    width: 100%;
}


nav ul{
    float: right;
    margin-right: 20px;
}

label.logo{
    color: var(--color-yell);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: #11110f;
    transition: .5s;
}

a:active, a:hover .p1-2{
    background: #181815;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

















/*Tela Padrão PC*/
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li {
        font-size: 16px;
    }
}



h1 {
    font-size: 62px;
    margin-bottom: 40px;
}

.titleMid{
    margin-top: 200px;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.images{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    float: right;
    border: transparent thin solid;
    padding: 50px;
    margin: -150px 50px 10px 0;
}

p{
    white-space: normal;
    width: 35em;
    overflow: hidden;
    text-overflow: clip;
    border: 1px solid #d6004700;
}

.p1{
    margin-top: 5px;
    font-size: 20px;
}

.p1-2{
    margin-top: 25px;
    font-size: 20px;
}

.p2{
    line-height: 1.3em;
    margin-top: 60px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 15px
}

.upSkills{
    line-height: 2em;
    margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
}


.txtQuarent{
    margin: 5px 0px 0 50px;
    text-align: left;
    color: #fff;
}

.txtGit{
    margin: 5px 0px 0 75px;
    text-align: left;
    color: #fff;
}

.games{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* margin: 80px 100px 10px 0; */
}

.games2{
    width: 200px;
    height: 200px;
    margin: 0px 0px 0px 0px;
}

.gameType{
    width: 960px;
    margin: auto;
}

.conteudo{
    margin-top: 100px;
    display: table;
}

.imgCont{
    display: table-cell;
    float: left;
}

.textoCont {
    margin-left: 50px;
    margin-top: 25px;
    display: table;
    float: left;
    width: 300px;
    color: #fff;
}







/* Imagem Estáticas */

    .gallery-container {
        float: right;
        width: 0.5%;
        position: relative;
        margin-top: 0px;
        margin-right: 0px;
    }
    
    @media (min-width: 480px) {
        .gallery-container {
            width: 750px;
            margin-right: -18px;
        }
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.1);
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .imgslide {
        width: 100%;
    }



  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

   .logoGames{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: -50px;
    }

    .gameInfo{
        width: 1320px;
        margin: auto;
    }

    .conteudoInfo{
        margin-top: 100px;
        display: table;
        height: 750px;
        width: 1320px;
    }

    .logoInfo{
        width: 400px;
        height: 400px;
    }

    .textoInfo {
        display: table;
        float: left;
        width: 10px;
        color: #fff;
    }
    .imgCentral{
        margin-left: 570px;
        margin-bottom: 10em;
    }
    .p4{
        font-size: 30px;
        width: 573px;
        margin-bottom: 35px;
    }




    /*slide Colab*/
    
    .containerColab{
        width: 1320px;
        height: 35vh;
        margin-bottom: 120px; 
        margin-left: 69px;
        display: flex;
    }

    .boxColab{
        width: 200px;
        height: 35vh;
        background-color: #1e1e26;
        border-radius: 20px;
        margin-right: 80px;
        
    }

    .pessoa1{
        color: var(--color-yell);
        width: 200px;
        text-align: center;
    }
    .pessoa2{
        color: var(--color-green);
        width: 200px;
        text-align: center;
    }

    .func1{
        color: #fff;
        width: 200px;
        text-align: center;
    }

    .p22{
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }

    .logo-slider{
        margin-left: 48px;
        margin-bottom: 50px;
    }








@media (max-width: 426px){ /* Mobile-L*/
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #272723;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:active, a:hover{
        background: none;
        color: #11110f;
    }

    #check:checked ~ul {
        left: 0;
    }
    .bodyPage{
        background-color: #181815;
        color: white;
        font-family: ProzaLibre-Light;
        margin-right: 10px;
        margin-bottom: 25px;
        margin-left: 30px;
    }
    .bodyPage .upSkills{
        margin-top: 80px;
        margin-bottom: 100px;
        line-height: 35px;
    }
    .bodyPage .upSkills .green{
        margin-bottom: 158px;
    }

    h1 {
        width: 350px;
        font-size: 35px;
        margin-bottom: 5px;
        margin-left: 32px;
    }

    label.logo{
        font-size: 15px;
        padding-left: 28px;
    }

    .images{
        width: 450px;
        height: 450px;
        border-radius: 50%;
        float: right;
        border: transparent thin solid;
        padding: 50px;
        margin: -200px -27px -30px 0;
    }
    .p1{
        width: 15em;
        margin-top: 20px;
        font-size: 20px;
    }

    .p1-2{
        margin-top: 25px;
        font-size: 20px;
    }

    .p2{
        line-height: 1.3em;
        margin-top: 60px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        font-size: 15px
    }

    p{
        white-space: normal;
        width: 22em;
        overflow: hidden;
        text-overflow: clip;
        border: 1px solid #d6004700;
    }
    .titleMid{
        margin-top: 100px;
        margin-right: 10px;
        margin-bottom: 40px;
        margin-left: 0px;
    }
    /* Proj Page */

    .txtQuarent{
        width: 0px;
    }

    .txtGit{
        width: 0px;
    }
    .games{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 90px;
    }
    .games2{
        width: 150px;
        height: 150px;
        margin: 0px 0px 0px 0px;
    }
    .gameType{
        width: 450px;
    }
    .conteudo{
        margin-top: 0px;
    }
    .imgCont{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: transparent thin solid;
        padding: 50px;
    }
    .textoCont{
        width: 352px;
        margin-left: 50px;
        margin-top: 30px;
        display: block;
        color: #fff;
    }
    .p3{
        width: 21em;
    }

    /* Games Info */

    .logoInfo{
        width: 200px;
        height: 200px;
    }

    .imgCentral{
        width: 200px;
        height: 200px;
        margin-left: 137px;
        margin-bottom: 10em;
    }

    .logoGames{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 50px;
    }

    .gameInfo{
        width: 375px;
        margin: auto;
    }

    .conteudoInfo{
        margin-top: 100px;
        display: table;
        height: 620px;
        width: 375px;
    }
    .p4{
        font-size: 18px;
        width: 350px;
        margin-bottom: 35px;
        text-align: justify;
        margin-left: 12.5px;

        
    }

    /*slide*/
    .gallery-container {
        float: right;
        width: 0.5%;
        position: relative;
        margin-top: 0px;
        margin-right: 0px;
    }
    
    
    .gallery-container {
        width: 375px;
        margin-right: 24px;
    }


    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.1);
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .imgslide {
        width: 100%;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    /*slide Colab*/
    
    .containerColab{
        width: 400px;
        height: 38vh;
        margin-bottom: 120px; 
        display: flex;
    }

    .boxColab{
        width: 150px;
        height: 30vh;
        background-color: #1e1e26;
        border-radius: 20px;
        margin-right: 80px;
        
    }

    .pessoa1{
        color: var(--color-yell);
        width: 100px;
        text-align: center;
        font-size: 12px;
    }
    .pessoa2{
        color: var(--color-green);
        width: 115px;
        text-align: center;
        font-size: 12px;
    }

    .func1{
        color: #fff;
        width: 120px;
        text-align: center;
        font-size: 14px;
    }

    .p22{
        width: 118px;
        height: 118px;
        border-radius: 20px;
    }

    .logo-slider{
        margin-left: 25px;
        margin-bottom: 50px;
    }
}

@media (max-width: 376px){ /* Mobile-M*/
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #272723;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:active, a:hover{
        background: none;
        color: #11110f;
    }

    #check:checked ~ul {
        left: 0;
    }
    .bodyPage{
        background-color: #181815;
        color: white;
        font-family: ProzaLibre-Light;
        margin-right: 10px;
        margin-bottom: 25px;
        margin-left: 20px;
    }
    .bodyPage .upSkills{
        margin-top: 40px;
        margin-bottom: 100px;
        line-height: 35px;
    }
    .bodyPage .upSkills .green{
        margin-bottom: 158px;
    }

    h1 {
        width: 350px;
        font-size: 35px;
        margin-bottom: 5px;
    }

    label.logo{
        font-size: 15px;
        padding-left: 20px;
    }

    .images{
        width: 410px;
        height: 410px;
        border-radius: 50%;
        float: right;
        border: transparent thin solid;
        padding: 50px;
        margin: -200px -30px 0px 0;
    }
    .p1{
        width: 15em;
        margin-top: 20px;
        font-size: 20px;
    }

    .p1-2{
        margin-top: 25px;
        font-size: 20px;
    }

    .p2{
        line-height: 1.3em;
        margin-top: 60px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        font-size: 15px
    }

    p{
        white-space: normal;
        width: 19em;
        overflow: hidden;
        text-overflow: clip;
        border: 1px solid #d6004700;
    }
    .titleMid{
        margin-top: 70px;
    }

    .txtQuarent{
        width: 0px;
    }

    .txtGit{
        width: 0px;
    }

    .games{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 65px;
    }

    .games2{
        width: 150px;
        height: 150px;
        margin: 0px 0px 0px 0px;
    }

    .gameType{
        width: 450px;
    }

    .conteudo{
        margin-top: 0px;
    }

    .imgCont{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: transparent thin solid;
        padding: 50px;
    }

    .textoCont{
        width: 352px;
        margin-left: 29px;
        margin-top: 30px;
        display: block;
        color: #fff;
    }
    .p3{
        width: 20em;
    }

    /*slide*/
    .gallery-container {
        float: right;
        width: 0.5%;
        position: relative;
        margin-top: 0px;
        margin-right: 0px;
    }
    
    
    .gallery-container {
        width: 375px;
        margin-right: 24px;
    }


    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.1);
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .imgslide {
        width: 100%;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    /*slide Colab*/
    
    .containerColab{
        width: 400px;
        height: 38vh;
        margin-bottom: 120px; 
        display: flex;
    }

    .boxColab{
        width: 105px;
        height: 25vh;
        background-color: #1e1e26;
        border-radius: 20px;
        margin-right: 80px;
        
    }

    .pessoa1{
        color: var(--color-yell);
        width: 100px;
        text-align: center;
        font-size: 12px;
    }
    .pessoa2{
        color: var(--color-green);
        width: 105px;
        text-align: center;
        font-size: 12px;
    }

    .func1{
        color: #fff;
        width: 100px;
        text-align: center;
        font-size: 10px;
    }

    .p22{
        width: 105px;
        height: 105px;
        border-radius: 20px;
    }

    .logo-slider{
        margin-left: 25px;
        margin-bottom: 50px;
    }
}

@media (max-width: 320px){ /* Mobile-S*/
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #272723;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:active, a:hover{
        background: none;
        color: #11110f;
    }

    #check:checked ~ul {
        left: 0;
    }
    .bodyPage{
        background-color: #181815;
        color: white;
        font-family: ProzaLibre-Light;
        margin-left: 10px;
    }
    .bodyPage .upSkills{
        margin-top: 20px;
        margin-bottom: 100px;
        line-height: 35px;
    }
    .bodyPage .upSkills .green{
        margin-bottom: 158px;
    }
    h1 {
        font-size: 25px;
        margin-bottom: 5px;
        width: 10em;
    }

    .titleMid{
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 18px;
    }

    label.logo{
        font-size: 15px;
        padding-left: 28px;
    }

    .images{
        width: 350px;
        height: 350px;
        border-radius: 50%;
        float: right;
        border: transparent thin solid;
        padding: 50px;
        margin: -200px -32px -30px 0;
    }
    .p1{
        width: 12em;
        margin-top: 8px;
        font-size: 14px;
    }

    .p1-2{
        margin-top: 25px;
        font-size: 10px;
    }

    .p2{
        line-height: 1.3em;
        margin-top: 60px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        font-size: 15px
    }

    p{
        white-space: normal;
        width: 15.5em;
        overflow: hidden;
        text-overflow: clip;
        border: 1px solid #d6004700;
    }

    .txtQuarent{
        width: 0px;
    }

    .txtGit{
        width: 0px;
    }

    .games{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 33px;
    }

    .gameType{
        width: 450px;
    }

    .conteudo{
        margin-top: 0px;
    }

    .imgCont{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: transparent thin solid;
        padding: 50px;
    }

    .textoCont{
        width: 352px;
        margin-left: 30px;
        margin-top: 30px;
        color: #fff;
    }
    .p3{
        width: 17em;
    }

    /* Games Info */

    .logoInfo{
        width: 200px;
        height: 200px;
    }

    .imgCentral{
        width: 200px;
        height: 200px;
        margin-left: 117px;
        margin-bottom: 10em;
    }

    .logoGames{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 50px;
    }

    .gameInfo{
        width: 3250px;
        margin: auto;
    }

    .conteudoInfo{
        margin-top: 100px;
        display: table;
        height: 620px;
        width: 425px;
    }
    .p4{
        font-size: 20px;
        width: 280px;
        margin-bottom: 35px;
        text-align: justify;
        margin-left: 12.5px;
    }

    /*slide*/
    .gallery-container {
        width: 0.5%;
        position: relative;
        margin-top: 0px;
        margin-right: 0px;
    }
    
    
    .gallery-container {
        width: 318px;
        margin-right: 106px;
        margin-bottom: 25px;
    }


    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0,0,0,0.1);
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .imgslide {
        width: 100%;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    /*slide Colab*/
    
    .containerColab{
        width: 400px;
        height: 38vh;
        margin-bottom: 120px; 
        display: flex;
    }

    .boxColab{
        width: 80px;
        height: 20vh;
        background-color: #1e1e26;
        border-radius: 20px;
        margin-right: 80px;
        
    }

    .pessoa1{
        color: var(--color-yell);
        width: 80px;
        text-align: center;
        font-size: 11px;
    }
    .pessoa2{
        color: var(--color-green);
        width: 80px;
        text-align: center;
        font-size: 11px;
    }

    .func1{
        color: #fff;
        width: 80px;
        text-align: center;
        font-size: 10px;
    }

    .p22{
        width: 80px;
        height: 80px;
        border-radius: 20px;
    }

    .logo-slider{
        margin-left: 25px;
        margin-bottom: 50px;
    }
}



/* Conteudo */

.nav_atual{
    color: var(--color-blue);
}
.nav_other {
    color:white;
    text-decoration: none;
}

.mark {
    background-color: rgba(194, 194, 194, 0.142);
}

/* Links Coloridos */
.link{
    color: var(--color-green);
    text-decoration: none;
    margin-top: 100px;
    margin-left: 0px;
}
.link1{
    color: var(--color-pink);
    text-decoration: none;
    margin-top: 100px;
    margin-left: 0px;
}
.link2{
    color: var(--color-blue);
    text-decoration: none;
    margin-top: 100px;
    margin-left: 0px;
}



